* {
    background-color: orange; 
    color: white ; 
    font-family: 'Muli', sans-serif !important;
    font-size: xx-large
}
html{
    scroll-behavior: smooth;
}

header{
    padding:30px;
      
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.hero {
    height: 300px;;
    background-image: url("/Users/robertrouthier/Desktop/Robert-Routhier-Homework/Homework2/Homework2/IMG_3013.jpeg");
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    background-position: center;
}

.nav li{
    box-sizing: border-box;
    float: right;
    font-size: x-large;
    display: inline-block;
    margin: 10px;
    list-style-type: none;
    
   
}

.nav li a {
    text-decoration: none;
}



#sections{
    
    display: flex;
    position: relative;
    flex-flow: column wrap;
    height: 100%
    
   
}


#projects h2{
    padding: 30px;
    
}




#projects{
    width: 60%;
    height: 50%;
    

}
#about{
    width: 60%;
    height: 50%;
    
}
#contact {
    padding: 5px;
    height: 100%;
    width: 40%;
    
    
}

#contact a{
    text-decoration: none;
}
footer h3{
    align-self: center;
    text-align: center;
}

